body {
    background-image: url('images/soccerwallspaper1.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    height: 700px;
}

.TOC {
    display: block;
    /* background-color: lightblue; */
    font-family: Arial, Helvetica, sans-serif;
    max-width: 2000px;
    width: 90%;
    border-style: solid;
    border-width: medium;
    border-radius: 12px;
    border-color: #66cdaa;
    padding: 15px;
    margin: 35px;
    /* opacity: 0; */
    color: ;
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes move
{
    0%{opacity: 0; }
    100%{opacity: 0.8; background : lightblue;}
}

.center {
    text-align: center;
}

h1 {
    color: blue;
}

ul{
    list-style-type: none;
}

.button1 {
    padding: 30px 50px;
    font-size: 34px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rebeccapurple;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(15, 111, 167);
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

a {
    text-decoration: none;
}

.button1:hover {background-color: #3e8e41}

.button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}